<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lms.mapper.ProblemLogMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lms.domain.ProblemLog">
        <id column="id" property="id" />
        <result column="pro_outlet_id" property="proOutletId" />
        <result column="pro_reason" property="proReason" />
        <result column="responsible_party" property="responsibleParty" />
        <result column="call_mobile" property="callMobile" />
        <result column="pro_desc" property="proDesc" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pro_outlet_id, pro_reason, responsible_party, call_mobile, pro_desc, create_time
    </sql>

</mapper>
